<header></header>

<body>
  <center>
    <h1>Birthd.io</h1>
      <p>
        <div>
          <form action="/results" method='post'>
            <h3>What is your name? </h3>
            <p><input type='text' name='Name'></p>
            <p>
            <h3>What is your birthday?</h3>
            <p>
            <!-- <input type='date' name='Birthday' min='1899-01-01' max='2000-13-13' /></p> -->
            <label for="Day">Day:  </label>
            <input type="text" name="Day">

            <label for="Month">Month:  </label>
            <select name="Month">
              <option value="January">January</option>
              <option value="February">February</option>
              <option value="March">March</option>
              <option value="April">April</option>
              <option value="May">May</option>
              <option value="June">June</option>
              <option value="July">July</option>
              <option value="August">August</option>
              <option value="September">September</option>
              <option value="October">October</option>
              <option value="November">November</option>
              <option value="December">December</option>
            </select>

            <label for="Year">Year:  </label>
            <input type="text" name="Year">

            <p><input type='submit' value='Submit'></p>

          </form>

          <!-- <form action="/results" method="post">
  Player 1:  <input type="text" name="player_1">
  <p>
  Player 2:  <input type="text" name="player_2">
  <p>
  <input type="submit" value="Start">
</form> -->
        </div>






  </center>
</body>
