<body>
  <center>
    <h1>Birthd.io</h1>
      <p>
        <div>
          <form action="/results" method='post'>
            Enter your name: <input type='text' name='Name'>
            <p><input type='submit' value='Submit'></p>
          </form>

          <!-- <form action="/results" method="post">
  Player 1:  <input type="text" name="player_1">
  <p>
  Player 2:  <input type="text" name="player_2">
  <p>
  <input type="submit" value="Start">
</form> -->
        </div>






  </center>
</body>
